PizzaRestoCashier/PizzaRestoCashier/Service References/PizzaRestoService/PizzaPartyWCF.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PizzaPartyWCF.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PizzaPartyWCF.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfitemlist">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="itemlist" nillable="true" type="tns:itemlist" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfitemlist" nillable="true" type="tns:ArrayOfitemlist" />
  <xs:complexType name="itemlist">
    <xs:sequence>
      <xs:element minOccurs="0" name="itemID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itemlist" nillable="true" type="tns:itemlist" />
  <xs:complexType name="ArrayOforderlist">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="orderlist" nillable="true" type="tns:orderlist" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOforderlist" nillable="true" type="tns:ArrayOforderlist" />
  <xs:complexType name="orderlist">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="itemID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orderNo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="qty" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="orderlist" nillable="true" type="tns:orderlist" />
  <xs:complexType name="ArrayOfkitchen">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="kitchen" nillable="true" type="tns:kitchen" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfkitchen" nillable="true" type="tns:ArrayOfkitchen" />
  <xs:complexType name="kitchen">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="isCompleted" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orderNo" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="kitchen" nillable="true" type="tns:kitchen" />
</xs:schema>