PizzaPartyKitchen/PizzaPartyKitchen/Service References/PizzaRestoService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/PizzaPartyWCF.Models" />
  <xs:element name="AddCashierTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cashName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="custName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="total" type="xs:double" />
        <xs:element minOccurs="0" name="cash" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCashierTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCashierTransactionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PizzaPartyWCF.Models" minOccurs="0" name="GetItemListResult" nillable="true" type="q1:ArrayOfitemlist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="qty" type="xs:int" />
        <xs:element minOccurs="0" name="orderNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PizzaPartyWCF.Models" minOccurs="0" name="GetOrderListResult" nillable="true" type="q2:ArrayOforderlist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddKitchenOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddKitchenOrderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOrderComplete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOrderCompleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PizzaPartyWCF.Models" minOccurs="0" name="GetItemResult" nillable="true" type="q3:itemlist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKitchenOrders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKitchenOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PizzaPartyWCF.Models" minOccurs="0" name="GetKitchenOrdersResult" nillable="true" type="q4:ArrayOfkitchen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIncompleteOrder">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIncompleteOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PizzaPartyWCF.Models" minOccurs="0" name="GetIncompleteOrderResult" nillable="true" type="q5:ArrayOfkitchen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompleteOrder">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompleteOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PizzaPartyWCF.Models" minOccurs="0" name="GetCompleteOrderResult" nillable="true" type="q6:ArrayOfkitchen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>